.cameraPageButton {
    padding: 5px 10px;
    background-color: #1d2731;
    border-radius: 5px;
    color: white;
}

.cameraPageDeleteButton {
    padding: 5px 10px;
    background-color: red;
    border-radius: 5px;
    color: white;
}